openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
servers:
- url: https://api.github.com
paths:
  /user/repos:
    get:
      summary: List repositories for the authenticated user
      description: 'Lists repositories that the authenticated user has explicit permission
        (`:read`, `:write`, or `:admin`) to access.


        The authenticated user has explicit permission to access repositories they
        own, repositories where they are a collaborator, and repositories that they
        can access through an organization membership.'
      tags:
      - repos
      operationId: repos/list-for-authenticated-user
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#list-repositories-for-the-authenticated-user
      parameters:
      - name: visibility
        description: Limit results to repositories with the specified visibility.
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - public
          - private
          default: all
      - name: affiliation
        description: "Comma-separated list of values. Can include:  \n * `owner`:\
          \ Repositories that are owned by the authenticated user.  \n * `collaborator`:\
          \ Repositories that the user has been added to as a collaborator.  \n *\
          \ `organization_member`: Repositories that the user has access to through\
          \ being a member of an organization. This includes every repository on every\
          \ team that the user is on."
        in: query
        required: false
        schema:
          type: string
          default: owner,collaborator,organization_member
      - name: type
        description: Limit results to repositories of the specified type. Will cause
          a `422` error if used in the same request as **visibility** or **affiliation**.
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - owner
          - public
          - private
          - member
          default: all
      - name: sort
        description: The property to sort the results by.
        in: query
        required: false
        schema:
          type: string
          enum:
          - created
          - updated
          - pushed
          - full_name
          default: full_name
      - name: direction
        description: 'The order to sort by. Default: `asc` when using `full_name`,
          otherwise `desc`.'
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/since-repo-date'
      - $ref: '#/components/parameters/before-repo-date'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/repository'
              examples:
                default:
                  $ref: '#/components/examples/repository-items-default-response'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '422':
          $ref: '#/components/responses/validation_failed'
        '304':
          $ref: '#/components/responses/not_modified'
        '403':
          $ref: '#/components/responses/forbidden'
        '401':
          $ref: '#/components/responses/requires_authentication'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: false
        category: repos
        subcategory: repos
  /repos/{owner}/{repo}:
    get:
      summary: Get a repository
      description: 'The `parent` and `source` objects are present when the repository
        is a fork. `parent` is the repository this repository was forked from, `source`
        is the ultimate source for the network.


        > [!NOTE]

        > - In order to see the `security_and_analysis` block for a repository you
        must have admin permissions for the repository or be an owner or security
        manager for the organization that owns the repository. For more information,
        see "[Managing security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization)."

        > - To view merge-related settings, you must have the `contents:read` and
        `contents:write` permissions.'
      tags:
      - repos
      operationId: repos/get
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#get-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/full-repository'
              examples:
                default-response:
                  $ref: '#/components/examples/full-repository-default-response'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '301':
          $ref: '#/components/responses/moved_permanently'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
  /repos/{owner}/{repo}/issues:
    get:
      summary: List repository issues
      description: 'List issues in a repository. Only open issues will be listed.


        > [!NOTE]

        > GitHub''s REST API considers every pull request an issue, but not every
        issue is a pull request. For this reason, "Issues" endpoints may return both
        issues and pull requests in the response. You can identify pull requests by
        the `pull_request` key. Be aware that the `id` of a pull request returned
        from "Issues" endpoints will be an _issue id_. To find out the pull request
        id, use the "[List pull requests](https://docs.github.com/rest/pulls/pulls#list-pull-requests)"
        endpoint.


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response
        will include `body`. This is the default if you do not pass any specific media
        type.

        - **`application/vnd.github.text+json`**: Returns a text only representation
        of the markdown body. Response will include `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s
        markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations.
        Response will include `body`, `body_text`, and `body_html`.'
      tags:
      - issues
      operationId: issues/list-for-repo
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/issues#list-repository-issues
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: milestone
        description: If an `integer` is passed, it should refer to a milestone by
          its `number` field. If the string `*` is passed, issues with any milestone
          are accepted. If the string `none` is passed, issues without milestones
          are returned.
        in: query
        required: false
        schema:
          type: string
      - name: state
        description: Indicates the state of the issues to return.
        in: query
        required: false
        schema:
          type: string
          enum:
          - open
          - closed
          - all
          default: open
      - name: assignee
        description: Can be the name of a user. Pass in `none` for issues with no
          assigned user, and `*` for issues assigned to any user.
        in: query
        required: false
        schema:
          type: string
      - name: type
        description: Can be the name of an issue type. If the string `*` is passed,
          issues with any type are accepted. If the string `none` is passed, issues
          without type are returned.
        in: query
        required: false
        schema:
          type: string
      - name: creator
        description: The user that created the issue.
        in: query
        required: false
        schema:
          type: string
      - name: mentioned
        description: A user that's mentioned in the issue.
        in: query
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/labels'
      - name: sort
        description: What to sort results by.
        in: query
        required: false
        schema:
          type: string
          enum:
          - created
          - updated
          - comments
          default: created
      - $ref: '#/components/parameters/direction'
      - $ref: '#/components/parameters/since'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/issue'
              examples:
                default:
                  $ref: '#/components/examples/issue-items'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '301':
          $ref: '#/components/responses/moved_permanently'
        '422':
          $ref: '#/components/responses/validation_failed'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: issues
    post:
      summary: Create an issue
      description: 'Any user with pull access to a repository can create an issue.
        If [issues are disabled in the repository](https://docs.github.com/articles/disabling-issues/),
        the API returns a `410 Gone` status.


        This endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).
        Creating content too quickly using this endpoint may result in secondary rate
        limiting. For more information, see "[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)"

        and "[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api)."


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response
        will include `body`. This is the default if you do not pass any specific media
        type.

        - **`application/vnd.github.text+json`**: Returns a text only representation
        of the markdown body. Response will include `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s
        markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations.
        Response will include `body`, `body_text`, and `body_html`.'
      tags:
      - issues
      operationId: issues/create
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/issues#create-an-issue
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  oneOf:
                  - type: string
                  - type: integer
                  description: The title of the issue.
                body:
                  type: string
                  description: The contents of the issue.
                assignee:
                  type: string
                  description: 'Login for the user that this issue should be assigned
                    to. _NOTE: Only users with push access can set the assignee for
                    new issues. The assignee is silently dropped otherwise. **This
                    field is closing down.**_'
                  nullable: true
                milestone:
                  oneOf:
                  - type: string
                  - type: integer
                    description: 'The `number` of the milestone to associate this
                      issue with. _NOTE: Only users with push access can set the milestone
                      for new issues. The milestone is silently dropped otherwise._'
                  nullable: true
                labels:
                  type: array
                  description: 'Labels to associate with this issue. _NOTE: Only users
                    with push access can set labels for new issues. Labels are silently
                    dropped otherwise._'
                  items:
                    oneOf:
                    - type: string
                    - type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        color:
                          type: string
                          nullable: true
                assignees:
                  type: array
                  description: 'Logins for Users to assign to this issue. _NOTE: Only
                    users with push access can set assignees for new issues. Assignees
                    are silently dropped otherwise._'
                  items:
                    type: string
                type:
                  type: string
                  description: 'The name of the issue type to associate with this
                    issue. _NOTE: Only users with push access can set the type for
                    new issues. The type is silently dropped otherwise._'
                  nullable: true
                  example: Epic
              required:
              - title
            examples:
              default:
                value:
                  title: Found a bug
                  body: I'm having a problem with this.
                  assignees:
                  - octocat
                  milestone: 1
                  labels:
                  - bug
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                default:
                  $ref: '#/components/examples/issue'
          headers:
            Location:
              example: https://api.github.com/repos/octocat/Hello-World/issues/1347
              schema:
                type: string
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/validation_failed'
        '503':
          $ref: '#/components/responses/service_unavailable'
        '404':
          $ref: '#/components/responses/not_found'
        '410':
          $ref: '#/components/responses/gone'
      x-github:
        triggersNotification: true
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: issues
  /repos/{owner}/{repo}/issues/{issue_number}:
    get:
      summary: Get an issue
      description: 'The API returns a [`301 Moved Permanently` status](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api#follow-redirects)
        if the issue was

        [transferred](https://docs.github.com/articles/transferring-an-issue-to-another-repository/)
        to another repository. If

        the issue was transferred to or deleted from a repository where the authenticated
        user lacks read access, the API

        returns a `404 Not Found` status. If the issue was deleted from a repository
        where the authenticated user has read

        access, the API returns a `410 Gone` status. To receive webhook events for
        transferred and deleted issues, subscribe

        to the [`issues`](https://docs.github.com/webhooks/event-payloads/#issues)
        webhook.


        > [!NOTE]

        > GitHub''s REST API considers every pull request an issue, but not every
        issue is a pull request. For this reason, "Issues" endpoints may return both
        issues and pull requests in the response. You can identify pull requests by
        the `pull_request` key. Be aware that the `id` of a pull request returned
        from "Issues" endpoints will be an _issue id_. To find out the pull request
        id, use the "[List pull requests](https://docs.github.com/rest/pulls/pulls#list-pull-requests)"
        endpoint.


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response
        will include `body`. This is the default if you do not pass any specific media
        type.

        - **`application/vnd.github.text+json`**: Returns a text only representation
        of the markdown body. Response will include `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s
        markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations.
        Response will include `body`, `body_text`, and `body_html`.'
      tags:
      - issues
      operationId: issues/get
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/issues#get-an-issue
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/issue-number'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                default:
                  $ref: '#/components/examples/issue'
        '301':
          $ref: '#/components/responses/moved_permanently'
        '404':
          $ref: '#/components/responses/not_found'
        '410':
          $ref: '#/components/responses/gone'
        '304':
          $ref: '#/components/responses/not_modified'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: issues
    patch:
      summary: Update an issue
      description: 'Issue owners and users with push access or Triage role can edit
        an issue.


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response
        will include `body`. This is the default if you do not pass any specific media
        type.

        - **`application/vnd.github.text+json`**: Returns a text only representation
        of the markdown body. Response will include `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s
        markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations.
        Response will include `body`, `body_text`, and `body_html`.'
      tags:
      - issues
      operationId: issues/update
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/issues#update-an-issue
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/issue-number'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  oneOf:
                  - type: string
                  - type: integer
                  description: The title of the issue.
                  nullable: true
                body:
                  type: string
                  description: The contents of the issue.
                  nullable: true
                assignee:
                  type: string
                  nullable: true
                  description: Username to assign to this issue. **This field is closing
                    down.**
                state:
                  type: string
                  description: The open or closed state of the issue.
                  enum:
                  - open
                  - closed
                state_reason:
                  type: string
                  enum:
                  - completed
                  - not_planned
                  - duplicate
                  - reopened
                  nullable: true
                  description: The reason for the state change. Ignored unless `state`
                    is changed.
                  example: not_planned
                milestone:
                  oneOf:
                  - type: string
                  - type: integer
                    description: The `number` of the milestone to associate this issue
                      with or use `null` to remove the current milestone. Only users
                      with push access can set the milestone for issues. Without push
                      access to the repository, milestone changes are silently dropped.
                  nullable: true
                labels:
                  type: array
                  description: Labels to associate with this issue. Pass one or more
                    labels to _replace_ the set of labels on this issue. Send an empty
                    array (`[]`) to clear all labels from the issue. Only users with
                    push access can set labels for issues. Without push access to
                    the repository, label changes are silently dropped.
                  items:
                    oneOf:
                    - type: string
                    - type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        color:
                          type: string
                          nullable: true
                assignees:
                  type: array
                  description: Usernames to assign to this issue. Pass one or more
                    user logins to _replace_ the set of assignees on this issue. Send
                    an empty array (`[]`) to clear all assignees from the issue. Only
                    users with push access can set assignees for new issues. Without
                    push access to the repository, assignee changes are silently dropped.
                  items:
                    type: string
                type:
                  type: string
                  description: The name of the issue type to associate with this issue
                    or use `null` to remove the current issue type. Only users with
                    push access can set the type for issues. Without push access to
                    the repository, type changes are silently dropped.
                  nullable: true
                  example: Epic
            examples:
              default:
                value:
                  title: Found a bug
                  body: I'm having a problem with this.
                  assignees:
                  - octocat
                  milestone: 1
                  state: open
                  labels:
                  - bug
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue'
              examples:
                default:
                  $ref: '#/components/examples/issue'
        '422':
          $ref: '#/components/responses/validation_failed'
        '503':
          $ref: '#/components/responses/service_unavailable'
        '403':
          $ref: '#/components/responses/forbidden'
        '301':
          $ref: '#/components/responses/moved_permanently'
        '404':
          $ref: '#/components/responses/not_found'
        '410':
          $ref: '#/components/responses/gone'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: issues
  /repos/{owner}/{repo}/issues/{issue_number}/comments:
    get:
      summary: List issue comments
      description: 'You can use the REST API to list comments on issues and pull requests.
        Every pull request is an issue, but not every issue is a pull request.


        Issue comments are ordered by ascending ID.


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response
        will include `body`. This is the default if you do not pass any specific media
        type.

        - **`application/vnd.github.text+json`**: Returns a text only representation
        of the markdown body. Response will include `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s
        markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations.
        Response will include `body`, `body_text`, and `body_html`.'
      tags:
      - issues
      operationId: issues/list-comments
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/comments#list-issue-comments
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/issue-number'
      - $ref: '#/components/parameters/since'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/issue-comment'
              examples:
                default:
                  $ref: '#/components/examples/issue-comment-items'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '404':
          $ref: '#/components/responses/not_found'
        '410':
          $ref: '#/components/responses/gone'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: comments
    post:
      summary: Create an issue comment
      description: 'You can use the REST API to create comments on issues and pull
        requests. Every pull request is an issue, but not every issue is a pull request.


        This endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).

        Creating content too quickly using this endpoint may result in secondary rate
        limiting.

        For more information, see "[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)"

        and "[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api)."


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response
        will include `body`. This is the default if you do not pass any specific media
        type.

        - **`application/vnd.github.text+json`**: Returns a text only representation
        of the markdown body. Response will include `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s
        markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations.
        Response will include `body`, `body_text`, and `body_html`.'
      tags:
      - issues
      operationId: issues/create-comment
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/issues/comments#create-an-issue-comment
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/issue-number'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                body:
                  type: string
                  description: The contents of the comment.
              required:
              - body
            examples:
              default:
                value:
                  body: Me too
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issue-comment'
              examples:
                default:
                  $ref: '#/components/examples/issue-comment'
          headers:
            Location:
              example: https://api.github.com/repos/octocat/Hello-World/issues/comments/1
              schema:
                type: string
        '403':
          $ref: '#/components/responses/forbidden'
        '410':
          $ref: '#/components/responses/gone'
        '422':
          $ref: '#/components/responses/validation_failed'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        triggersNotification: true
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: issues
        subcategory: comments
  /repos/{owner}/{repo}/tags:
    get:
      summary: List repository tags
      description: ''
      tags:
      - repos
      operationId: repos/list-tags
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#list-repository-tags
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/tag'
              examples:
                default:
                  $ref: '#/components/examples/tag-items'
          headers:
            Link:
              $ref: '#/components/headers/link'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: Get repository content
      description: "Gets the contents of a file or directory in a repository. Specify\
        \ the file path or directory with the `path` parameter. If you omit the `path`\
        \ parameter, you will receive the contents of the repository's root directory.\n\
        \nThis endpoint supports the following custom media types. For more information,\
        \ see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\
        \n\n- **`application/vnd.github.raw+json`**: Returns the raw file contents\
        \ for files and symlinks.\n- **`application/vnd.github.html+json`**: Returns\
        \ the file contents in HTML. Markup languages are rendered to HTML using GitHub's\
        \ open-source [Markup library](https://github.com/github/markup).\n- **`application/vnd.github.object+json`**:\
        \ Returns the contents in a consistent object format regardless of the content\
        \ type. For example, instead of an array of objects for a directory, the response\
        \ will be an object with an `entries` attribute containing the array of objects.\n\
        \nIf the content is a directory, the response will be an array of objects,\
        \ one object for each item in the directory. When listing the contents of\
        \ a directory, submodules have their \"type\" specified as \"file\". Logically,\
        \ the value _should_ be \"submodule\". This behavior exists [for backwards\
        \ compatibility purposes](https://git.io/v1YCW). In the next major version\
        \ of the API, the type will be returned as \"submodule\".\n\nIf the content\
        \ is a symlink and the symlink's target is a normal file in the repository,\
        \ then the API responds with the content of the file. Otherwise, the API responds\
        \ with an object describing the symlink itself.\n\nIf the content is a submodule,\
        \ the `submodule_git_url` field identifies the location of the submodule repository,\
        \ and the `sha` identifies a specific commit within the submodule repository.\
        \ Git uses the given URL when cloning the submodule repository, and checks\
        \ out the submodule at that specific commit. If the submodule repository is\
        \ not hosted on github.com, the Git URLs (`git_url` and `_links[\"git\"]`)\
        \ and the github.com URLs (`html_url` and `_links[\"html\"]`) will have null\
        \ values.\n\n**Notes**:\n\n- To get a repository's contents recursively, you\
        \ can [recursively get the tree](https://docs.github.com/rest/git/trees#get-a-tree).\n\
        - This API has an upper limit of 1,000 files for a directory. If you need\
        \ to retrieve\nmore files, use the [Git Trees API](https://docs.github.com/rest/git/trees#get-a-tree).\n\
        - Download URLs expire and are meant to be used just once. To ensure the download\
        \ URL does not expire, please use the contents API to obtain a fresh download\
        \ URL for each download.\n- If the requested file's size is:\n  - 1 MB or\
        \ smaller: All features of this endpoint are supported.\n  - Between 1-100\
        \ MB: Only the `raw` or `object` custom media types are supported. Both will\
        \ work as normal, except that when using the `object` media type, the `content`\
        \ field will be an empty\nstring and the `encoding` field will be `\"none\"\
        `. To get the contents of these larger files, use the `raw` media type.\n\
        \  - Greater than 100 MB: This endpoint is not supported."
      tags:
      - repos
      operationId: repos/get-content
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/contents#get-repository-content
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: path
        description: path parameter
        in: path
        required: true
        schema:
          type: string
        x-multi-segment: true
      - name: ref
        description: "The name of the commit/branch/tag. Default: the repository\u2019\
          s default branch."
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Response
          content:
            application/vnd.github.object:
              schema:
                $ref: '#/components/schemas/content-tree'
              examples:
                response-if-content-is-a-file:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-file'
                response-if-content-is-a-directory:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-directory-object'
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/content-directory'
                - $ref: '#/components/schemas/content-file'
                - $ref: '#/components/schemas/content-symlink'
                - $ref: '#/components/schemas/content-submodule'
                discriminator:
                  propertyName: type
                  mapping:
                    array: '#/components/schemas/content-directory'
                    file: '#/components/schemas/content-file'
                    symlink: '#/components/schemas/content-symlink'
                    submodule: '#/components/schemas/content-submodule'
              examples:
                response-if-content-is-a-file:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-file'
                response-if-content-is-a-directory:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-directory'
                response-if-content-is-a-symlink:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-symlink'
                response-if-content-is-a-submodule:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-submodule'
        '404':
          $ref: '#/components/responses/not_found'
        '403':
          $ref: '#/components/responses/forbidden'
        '302':
          $ref: '#/components/responses/found'
        '304':
          $ref: '#/components/responses/not_modified'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: contents
    put:
      summary: Create or update file contents
      description: 'Creates a new file or replaces an existing file in a repository.


        > [!NOTE]

        > If you use this endpoint and the "[Delete a file](https://docs.github.com/rest/repos/contents/#delete-a-file)"
        endpoint in parallel, the concurrent requests will conflict and you will receive
        errors. You must use these endpoints serially instead.


        OAuth app tokens and personal access tokens (classic) need the `repo` scope
        to use this endpoint. The `workflow` scope is also required in order to modify
        files in the `.github/workflows` directory.'
      tags:
      - repos
      operationId: repos/create-or-update-file-contents
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/contents#create-or-update-file-contents
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: path
        description: path parameter
        in: path
        required: true
        schema:
          type: string
        x-multi-segment: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The commit message.
                content:
                  type: string
                  description: The new file content, using Base64 encoding.
                sha:
                  type: string
                  description: '**Required if you are updating a file**. The blob
                    SHA of the file being replaced.'
                branch:
                  type: string
                  description: "The branch name. Default: the repository\u2019s default\
                    \ branch."
                committer:
                  type: object
                  description: 'The person that committed the file. Default: the authenticated
                    user.'
                  properties:
                    name:
                      type: string
                      description: The name of the author or committer of the commit.
                        You'll receive a `422` status code if `name` is omitted.
                    email:
                      type: string
                      description: The email of the author or committer of the commit.
                        You'll receive a `422` status code if `email` is omitted.
                    date:
                      type: string
                      example: '"2013-01-05T13:13:22+05:00"'
                  required:
                  - name
                  - email
                author:
                  type: object
                  description: 'The author of the file. Default: The `committer` or
                    the authenticated user if you omit `committer`.'
                  properties:
                    name:
                      type: string
                      description: The name of the author or committer of the commit.
                        You'll receive a `422` status code if `name` is omitted.
                    email:
                      type: string
                      description: The email of the author or committer of the commit.
                        You'll receive a `422` status code if `email` is omitted.
                    date:
                      type: string
                      example: '"2013-01-15T17:13:22+05:00"'
                  required:
                  - name
                  - email
              required:
              - message
              - content
            examples:
              example-for-creating-a-file:
                summary: Example for creating a file
                value:
                  message: my commit message
                  committer:
                    name: Monalisa Octocat
                    email: octocat@github.com
                  content: bXkgbmV3IGZpbGUgY29udGVudHM=
              example-for-updating-a-file:
                summary: Example for updating a file
                value:
                  message: a new commit message
                  committer:
                    name: Monalisa Octocat
                    email: octocat@github.com
                  content: bXkgdXBkYXRlZCBmaWxlIGNvbnRlbnRz
                  sha: 95b966ae1c166bd92f8ae7d1c313e738c731dfc3
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file-commit'
              examples:
                example-for-updating-a-file:
                  $ref: '#/components/examples/file-commit-example-for-updating-a-file'
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file-commit'
              examples:
                example-for-creating-a-file:
                  $ref: '#/components/examples/file-commit-example-for-creating-a-file'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/validation_failed'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/basic-error'
                - $ref: '#/components/schemas/repository-rule-violation-error'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: contents
  /gists:
    post:
      summary: Create a gist
      description: 'Allows you to add a new gist with one or more files.


        > [!NOTE]

        > Don''t name your files "gistfile" with a numerical suffix. This is the format
        of the automatic naming scheme that Gist uses internally.'
      operationId: gists/create
      tags:
      - gists
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/gists/gists#create-a-gist
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Description of the gist
                  example: Example Ruby script
                  type: string
                files:
                  description: Names and content for the files that make up the gist
                  example:
                    hello.rb:
                      content: puts "Hello, World!"
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      content:
                        description: Content of the file
                        readOnly: false
                        type: string
                    required:
                    - content
                public:
                  oneOf:
                  - description: Flag indicating whether the gist is public
                    example: true
                    type: boolean
                    default: false
                  - type: string
                    example: 'true'
                    default: 'false'
                    enum:
                    - 'true'
                    - 'false'
              required:
              - files
              type: object
            examples:
              default:
                summary: Creating a gist
                value:
                  description: Example of a gist
                  public: false
                  files:
                    README.md:
                      content: Hello World
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gist-simple'
              examples:
                default:
                  $ref: '#/components/examples/gist'
          headers:
            Location:
              example: https://api.github.com/gists/aa5a315d61ae9438b18d
              schema:
                type: string
        '422':
          $ref: '#/components/responses/validation_failed'
        '304':
          $ref: '#/components/responses/not_modified'
        '404':
          $ref: '#/components/responses/not_found'
        '403':
          $ref: '#/components/responses/forbidden'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: false
        category: gists
        subcategory: gists
  /gists/{gist_id}:
    get:
      summary: Get a gist
      description: 'Gets a specified gist.


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown. This is
        the default if you do not pass any specific media type.

        - **`application/vnd.github.base64+json`**: Returns the base64-encoded contents.
        This can be useful if your gist contains any invalid UTF-8 sequences.'
      tags:
      - gists
      operationId: gists/get
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/gists/gists#get-a-gist
      parameters:
      - $ref: '#/components/parameters/gist-id'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gist-simple'
              examples:
                default:
                  $ref: '#/components/examples/gist'
        '403':
          $ref: '#/components/responses/forbidden_gist'
        '404':
          $ref: '#/components/responses/not_found'
        '304':
          $ref: '#/components/responses/not_modified'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: false
        category: gists
        subcategory: gists
    patch:
      summary: Update a gist
      description: 'Allows you to update a gist''s description and to update, delete,
        or rename gist files. Files

        from the previous version of the gist that aren''t explicitly changed during
        an edit

        are unchanged.


        At least one of `description` or `files` is required.


        This endpoint supports the following custom media types. For more information,
        see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown. This is
        the default if you do not pass any specific media type.

        - **`application/vnd.github.base64+json`**: Returns the base64-encoded contents.
        This can be useful if your gist contains any invalid UTF-8 sequences.'
      tags:
      - gists
      operationId: gists/update
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/gists/gists#update-a-gist
      parameters:
      - $ref: '#/components/parameters/gist-id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  description: The description of the gist.
                  example: Example Ruby script
                  type: string
                files:
                  description: 'The gist files to be updated, renamed, or deleted.
                    Each `key` must match the current filename

                    (including extension) of the targeted gist file. For example:
                    `hello.py`.


                    To delete a file, set the whole file to null. For example: `hello.py
                    : null`. The file will also be

                    deleted if the specified object does not contain at least one
                    of `content` or `filename`.'
                  example:
                    hello.rb:
                      content: blah
                      filename: goodbye.rb
                  type: object
                  additionalProperties:
                    type: object
                    nullable: true
                    properties:
                      content:
                        description: The new content of the file.
                        type: string
                      filename:
                        description: The new filename for the file.
                        type: string
                        nullable: true
              type: object
              nullable: true
            examples:
              updateGist:
                summary: Updating a gist
                value:
                  description: An updated gist description
                  files:
                    README.md:
                      content: Hello World from GitHub
              deleteFile:
                summary: Deleting a gist file
                value:
                  files:
                    hello.py: null
              renameFile:
                summary: Renaming a gist file
                value:
                  files:
                    hello.py:
                      filename: goodbye.py
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gist-simple'
              examples:
                updateGist:
                  $ref: '#/components/examples/gist'
                deleteFile:
                  $ref: '#/components/examples/delete-gist-file'
                renameFile:
                  $ref: '#/components/examples/rename-gist-file'
        '422':
          $ref: '#/components/responses/validation_failed'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: false
        category: gists
        subcategory: gists
components:
  schemas:
    gist-simple:
      title: Gist Simple
      description: Gist Simple
      type: object
      properties:
        forks:
          deprecated: true
          nullable: true
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              url:
                type: string
                format: uri
              user:
                $ref: '#/components/schemas/public-user'
              created_at:
                type: string
                format: date-time
              updated_at:
                type: string
                format: date-time
        history:
          deprecated: true
          nullable: true
          type: array
          items:
            $ref: '#/components/schemas/gist-history'
        fork_of:
          nullable: true
          title: Gist
          description: Gist
          type: object
          properties:
            url:
              type: string
              format: uri
            forks_url:
              type: string
              format: uri
            commits_url:
              type: string
              format: uri
            id:
              type: string
            node_id:
              type: string
            git_pull_url:
              type: string
              format: uri
            git_push_url:
              type: string
              format: uri
            html_url:
              type: string
              format: uri
            files:
              type: object
              additionalProperties:
                type: object
                properties:
                  filename:
                    type: string
                  type:
                    type: string
                  language:
                    type: string
                  raw_url:
                    type: string
                  size:
                    type: integer
            public:
              type: boolean
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            description:
              type: string
              nullable: true
            comments:
              type: integer
            comments_enabled:
              type: boolean
            user:
              $ref: '#/components/schemas/nullable-simple-user'
            comments_url:
              type: string
              format: uri
            owner:
              $ref: '#/components/schemas/nullable-simple-user'
            truncated:
              type: boolean
            forks:
              type: array
              items: {}
            history:
              type: array
              items: {}
          required:
          - id
          - node_id
          - url
          - forks_url
          - commits_url
          - git_pull_url
          - git_push_url
          - html_url
          - comments_url
          - public
          - description
          - comments
          - user
          - files
          - created_at
          - updated_at
        url:
          type: string
        forks_url:
          type: string
        commits_url:
          type: string
        id:
          type: string
        node_id:
          type: string
        git_pull_url:
          type: string
        git_push_url:
          type: string
        html_url:
          type: string
        files:
          type: object
          additionalProperties:
            nullable: true
            type: object
            properties:
              filename:
                type: string
              type:
                type: string
              language:
                type: string
              raw_url:
                type: string
              size:
                type: integer
              truncated:
                type: boolean
              content:
                type: string
              encoding:
                type: string
                description: The encoding used for `content`. Currently, `"utf-8"`
                  and `"base64"` are supported.
                default: utf-8
        public:
          type: boolean
        created_at:
          type: string
        updated_at:
          type: string
        description:
          type: string
          nullable: true
        comments:
          type: integer
        comments_enabled:
          type: boolean
        user:
          type: string
          nullable: true
        comments_url:
          type: string
        owner:
          $ref: '#/components/schemas/simple-user'
        truncated:
          type: boolean
    secret-scanning-push-protection-bypass-placeholder-id:
      description: The ID of the push protection bypass placeholder. This value is
        returned on any push protected routes.
      type: string
    issue:
      title: Issue
      description: Issues are a great way to keep track of tasks, enhancements, and
        bugs for your projects.
      type: object
      properties:
        id:
          type: integer
          format: int64
        node_id:
          type: string
        url:
          description: URL for the issue
          example: https://api.github.com/repositories/42/issues/1
          type: string
          format: uri
        repository_url:
          type: string
          format: uri
        labels_url:
          type: string
        comments_url:
          type: string
          format: uri
        events_url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        number:
          description: Number uniquely identifying the issue within its repository
          example: 42
          type: integer
        state:
          description: State of the issue; either 'open' or 'closed'
          example: open
          type: string
        state_reason:
          description: The reason for the current state
          example: not_planned
          type: string
          nullable: true
          enum:
          - completed
          - reopened
          - not_planned
          - duplicate
        title:
          description: Title of the issue
          example: Widget creation fails in Safari on OS X 10.8
          type: string
        body:
          description: Contents of the issue
          example: It looks like the new widget form is broken on Safari. When I try
            and create the widget, Safari crashes. This is reproducible on 10.8, but
            not 10.9. Maybe a browser bug?
          type: string
          nullable: true
        user:
          $ref: '#/components/schemas/nullable-simple-user'
        labels:
          description: Labels to associate with this issue; pass one or more label
            names to replace the set of labels on this issue; send an empty array
            to clear all labels from the issue; note that the labels are silently
            dropped for users without push access to the repository
          example:
          - bug
          - registration
          type: array
          items:
            oneOf:
            - type: string
            - type: object
              properties:
                id:
                  type: integer
                  format: int64
                node_id:
                  type: string
                url:
                  type: string
                  format: uri
                name:
                  type: string
                description:
                  type: string
                  nullable: true
                color:
                  type: string
                  nullable: true
                default:
                  type: boolean
        assignee:
          $ref: '#/components/schemas/nullable-simple-user'
        assignees:
          type: array
          items:
            $ref: '#/components/schemas/simple-user'
          nullable: true
        milestone:
          $ref: '#/components/schemas/nullable-milestone'
        locked:
          type: boolean
        active_lock_reason:
          type: string
          nullable: true
        comments:
          type: integer
        pull_request:
          type: object
          properties:
            merged_at:
              type: string
              format: date-time
              nullable: true
            diff_url:
              type: string
              format: uri
              nullable: true
            html_url:
              type: string
              format: uri
              nullable: true
            patch_url:
              type: string
              format: uri
              nullable: true
            url:
              type: string
              format: uri
              nullable: true
          required:
          - diff_url
          - html_url
          - patch_url
          - url
        closed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        draft:
          type: boolean
        closed_by:
          $ref: '#/components/schemas/nullable-simple-user'
        body_html:
          type: string
        body_text:
          type: string
        timeline_url:
          type: string
          format: uri
        type:
          $ref: '#/components/schemas/issue-type'
        repository:
          $ref: '#/components/schemas/repository'
        performed_via_github_app:
          $ref: '#/components/schemas/nullable-integration'
        author_association:
          $ref: '#/components/schemas/author-association'
        reactions:
          $ref: '#/components/schemas/reaction-rollup'
        sub_issues_summary:
          $ref: '#/components/schemas/sub-issues-summary'
        parent_issue_url:
          description: URL to get the parent issue of this issue, if it is a sub-issue
          type: string
          format: uri
          nullable: true
        issue_dependencies_summary:
          $ref: '#/components/schemas/issue-dependencies-summary'
        issue_field_values:
          type: array
          items:
            $ref: '#/components/schemas/issue-field-value'
      required:
      - assignee
      - closed_at
      - comments
      - comments_url
      - events_url
      - html_url
      - id
      - node_id
      - labels
      - labels_url
      - milestone
      - number
      - repository_url
      - state
      - locked
      - title
      - url
      - user
      - created_at
      - updated_at
    sub-issues-summary:
      title: Sub-issues Summary
      type: object
      properties:
        total:
          type: integer
        completed:
          type: integer
        percent_completed:
          type: integer
      required:
      - total
      - completed
      - percent_completed
    author-association:
      title: author_association
      type: string
      example: OWNER
      description: How the author is associated with the repository.
      enum:
      - COLLABORATOR
      - CONTRIBUTOR
      - FIRST_TIMER
      - FIRST_TIME_CONTRIBUTOR
      - MANNEQUIN
      - MEMBER
      - NONE
      - OWNER
    enterprise:
      title: Enterprise
      description: An enterprise on GitHub.
      type: object
      properties:
        description:
          description: A short description of the enterprise.
          type: string
          nullable: true
        html_url:
          type: string
          format: uri
          example: https://github.com/enterprises/octo-business
        website_url:
          description: The enterprise's website URL.
          type: string
          nullable: true
          format: uri
        id:
          description: Unique identifier of the enterprise
          example: 42
          type: integer
        node_id:
          type: string
          example: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
        name:
          description: The name of the enterprise.
          type: string
          example: Octo Business
        slug:
          description: The slug url identifier for the enterprise.
          type: string
          example: octo-business
        created_at:
          type: string
          nullable: true
          format: date-time
          example: '2019-01-26T19:01:12Z'
        updated_at:
          type: string
          nullable: true
          format: date-time
          example: '2019-01-26T19:14:43Z'
        avatar_url:
          type: string
          format: uri
      required:
      - id
      - node_id
      - name
      - slug
      - html_url
      - created_at
      - updated_at
      - avatar_url
    issue-field-value:
      title: Issue Field Value
      description: A value assigned to an issue field
      type: object
      properties:
        issue_field_id:
          description: Unique identifier for the issue field.
          type: integer
          format: int64
          example: 1
        node_id:
          type: string
          example: IFT_GDKND
        data_type:
          description: The data type of the issue field
          type: string
          enum:
          - text
          - single_select
          - number
          - date
          example: text
        value:
          description: The value of the issue field
          anyOf:
          - type: string
            example: Sample text
          - type: number
            example: 42.5
          - type: integer
            example: 1
          nullable: true
        single_select_option:
          description: Details about the selected option (only present for single_select
            fields)
          type: object
          properties:
            id:
              description: Unique identifier for the option.
              type: integer
              format: int64
              example: 1
            name:
              description: The name of the option
              type: string
              example: High
            color:
              description: The color of the option
              type: string
              example: red
          required:
          - id
          - name
          - color
          nullable: true
      required:
      - issue_field_id
      - node_id
      - data_type
      - value
    issue-dependencies-summary:
      title: Issue Dependencies Summary
      type: object
      properties:
        blocked_by:
          type: integer
        blocking:
          type: integer
        total_blocked_by:
          type: integer
        total_blocking:
          type: integer
      required:
      - blocked_by
      - blocking
      - total_blocked_by
      - total_blocking
    security-and-analysis:
      nullable: true
      type: object
      properties:
        advanced_security:
          description: 'Enable or disable GitHub Advanced Security for the repository.


            For standalone Code Scanning or Secret Protection products, this parameter
            cannot be used.

            '
          type: object
          properties:
            status:
              type: string
              enum:
              - enabled
              - disabled
        code_security:
          type: object
          properties:
            status:
              type: string
              enum:
              - enabled
              - disabled
        dependabot_security_updates:
          description: Enable or disable Dependabot security updates for the repository.
          type: object
          properties:
            status:
              description: The enablement status of Dependabot security updates for
                the repository.
              type: string
              enum:
              - enabled
              - disabled
        secret_scanning:
          type: object
          properties:
            status:
              type: string
              enum:
              - enabled
              - disabled
        secret_scanning_push_protection:
          type: object
          properties:
            status:
              type: string
              enum:
              - enabled
              - disabled
        secret_scanning_non_provider_patterns:
          type: object
          properties:
            status:
              type: string
              enum:
              - enabled
              - disabled
        secret_scanning_ai_detection:
          type: object
          properties:
            status:
              type: string
              enum:
              - enabled
              - disabled
    code-of-conduct-simple:
      title: Code Of Conduct Simple
      description: Code of Conduct Simple
      type: object
      properties:
        url:
          type: string
          format: uri
          example: https://api.github.com/repos/github/docs/community/code_of_conduct
        key:
          type: string
          example: citizen_code_of_conduct
        name:
          type: string
          example: Citizen Code of Conduct
        html_url:
          type: string
          nullable: true
          format: uri
          example: https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md
      required:
      - url
      - key
      - name
      - html_url
    gist-history:
      title: Gist History
      description: Gist History
      type: object
      properties:
        user:
          $ref: '#/components/schemas/nullable-simple-user'
        version:
          type: string
        committed_at:
          type: string
          format: date-time
        change_status:
          type: object
          properties:
            total:
              type: integer
            additions:
              type: integer
            deletions:
              type: integer
        url:
          type: string
          format: uri
    validation-error:
      title: Validation Error
      description: Validation Error
      type: object
      required:
      - message
      - documentation_url
      properties:
        message:
          type: string
        documentation_url:
          type: string
        errors:
          type: array
          items:
            type: object
            required:
            - code
            properties:
              resource:
                type: string
              field:
                type: string
              message:
                type: string
              code:
                type: string
              index:
                type: integer
              value:
                oneOf:
                - type: string
                  nullable: true
                - type: integer
                  nullable: true
                - type: array
                  nullable: true
                  items:
                    type: string
    public-user:
      title: Public User
      description: Public User
      type: object
      properties:
        login:
          type: string
        id:
          type: integer
          format: int64
        user_view_type:
          type: string
        node_id:
          type: string
        avatar_url:
          type: string
          format: uri
        gravatar_id:
          type: string
          nullable: true
        url:
          type: string
          format: uri
        html_url:
          type: string
          format: uri
        followers_url:
          type: string
          format: uri
        following_url:
          type: string
        gists_url:
          type: string
        starred_url:
          type: string
        subscriptions_url:
          type: string
          format: uri
        organizations_url:
          type: string
          format: uri
        repos_url:
          type: string
          format: uri
        events_url:
          type: string
        received_events_url:
          type: string
          format: uri
        type:
          type: string
        site_admin:
          type: boolean
        name:
          type: string
          nullable: true
        company:
          type: string
          nullable: true
        blog:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        notification_email:
          type: string
          format: email
          nullable: true
        hireable:
          type: boolean
          nullable: true
        bio:
          type: string
          nullable: true
        twitter_username:
          type: string
          nullable: true
        public_repos:
          type: integer
        public_gists:
          type: integer
        followers:
          type: integer
        following:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        plan:
          type: object
          properties:
            collaborators:
              type: integer
            name:
              type: string
            space:
              type: integer
            private_repos:
              type: integer
          required:
          - collaborators
          - name
          - space
          - private_repos
        private_gists:
          type: integer
          example: 1
        total_private_repos:
          type: integer
          example: 2
        owned_private_repos:
          type: integer
          example: 2
        disk_usage:
          type: integer
          example: 1
        collaborators:
          type: integer
          example: 3
      required:
      - avatar_url
      - events_url
      - followers_url
      - following_url
      - gists_url
      - gravatar_id
      - html_url
      - id
      - node_id
      - login
      - organizations_url
      - received_events_url
      - repos_url
      - site_admin
      - starred_url
      - subscriptions_url
      - type
      - url
      - bio
      - blog
      - company
      - email
      - followers
      - following
      - hireable
      - location
      - name
      - public_gists
      - public_repos
      - created_at
      - updated_at
      additionalProperties: false
    content-directory:
      title: Content Directory
      description: A list of directory items
      type: array
      items:
        type: object
        properties:
          type:
            type: string
            enum:
            - dir
            - file
            - submodule
            - symlink
          size:
            type: integer
          name:
            type: string
          path:
            type: string
          content:
            type: string
          sha:
            type: string
          url:
            type: string
            format: uri
          git_url:
            type: string
            format: uri
            nullable: true
          html_url:
            type: string
            format: uri
            nullable: true
          download_url:
            type: string
            format: uri
            nullable: true
          _links:
            type: object
            properties:
              git:
                type: string
                format: uri
                nullable: true
              html:
                type: string
                format: uri
                nullable: true
              self:
                type: string
                format: uri
            required:
            - git
            - html
            - self
        required:
        - _links
        - git_url
        - html_url
        - download_url
        - name
        - path
        - sha
        - size
        - type
        - url
    issue-comment:
      title: Issue Comment
      description: Comments provide a way for people to collaborate on an issue.
      type: object
      properties:
        id:
          description: Unique identifier of the issue comment
          example: 42
          type: integer
          format: int64
        node_id:
          type: string
        url:
          description: URL for the issue comment
          example: https://api.github.com/repositories/42/issues/comments/1
          type: string
          format: uri
        body:
          description: Contents of the issue comment
          example: What version of Safari were you using when you observed this bug?
          type: string
        body_text:
          type: string
        body_html:
          type: string
        html_url:
          type: string
          format: uri
        user:
          $ref: '#/components/schemas/nullable-simple-user'
        created_at:
          type: string
          format: date-time
          example: '2011-04-14T16:00:49Z'
        updated_at:
          type: string
          format: date-time
          example: '2011-04-14T16:00:49Z'
        issue_url:
          type: string
          format: uri
        author_association:
          $ref: '#/components/schemas/author-association'
        performed_via_github_app:
          $ref: '#/components/schemas/nullable-integration'
        reactions:
          $ref: '#/components/schemas/reaction-rollup'
      required:
      - id
      - node_id
      - html_url
      - issue_url
      - user
      - url
      - created_at
      - updated_at
    repository:
      title: Repository
      description: A repository on GitHub.
      type: object
      properties:
        id:
          description: Unique identifier of the repository
          example: 42
          type: integer
          format: int64
        node_id:
          type: string
          example: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
        name:
          description: The name of the repository.
          type: string
          example: Team Environment
        full_name:
          type: string
          example: octocat/Hello-World
        license:
          $ref: '#/components/schemas/nullable-license-simple'
        forks:
          type: integer
        permissions:
          type: object
          properties:
            admin:
              type: boolean
            pull:
              type: boolean
            triage:
              type: boolean
            push:
              type: boolean
            maintain:
              type: boolean
          required:
          - admin
          - pull
          - push
        owner:
          $ref: '#/components/schemas/simple-user'
        private:
          description: Whether the repository is private or public.
          default: false
          type: boolean
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World
        description:
          type: string
          example: This your first repo!
          nullable: true
        fork:
          type: boolean
        url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World
        archive_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}
        assignees_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/assignees{/user}
        blobs_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}
        branches_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/branches{/branch}
        collaborators_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}
        comments_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/comments{/number}
        commits_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/commits{/sha}
        compare_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}
        contents_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/contents/{+path}
        contributors_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/contributors
        deployments_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/deployments
        downloads_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/downloads
        events_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/events
        forks_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/forks
        git_commits_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/commits{/sha}
        git_refs_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/refs{/sha}
        git_tags_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/tags{/sha}
        git_url:
          type: string
          example: git:github.com/octocat/Hello-World.git
        issue_comment_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/issues/comments{/number}
        issue_events_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/issues/events{/number}
        issues_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/issues{/number}
        keys_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/keys{/key_id}
        labels_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/labels{/name}
        languages_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/languages
        merges_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/merges
        milestones_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/milestones{/number}
        notifications_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}
        pulls_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/pulls{/number}
        releases_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/releases{/id}
        ssh_url:
          type: string
          example: git@github.com:octocat/Hello-World.git
        stargazers_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/stargazers
        statuses_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/statuses/{sha}
        subscribers_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/subscribers
        subscription_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/subscription
        tags_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/tags
        teams_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/teams
        trees_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/trees{/sha}
        clone_url:
          type: string
          example: https://github.com/octocat/Hello-World.git
        mirror_url:
          type: string
          format: uri
          example: git:git.example.com/octocat/Hello-World
          nullable: true
        hooks_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/hooks
        svn_url:
          type: string
          format: uri
          example: https://svn.github.com/octocat/Hello-World
        homepage:
          type: string
          format: uri
          example: https://github.com
          nullable: true
        language:
          type: string
          nullable: true
        forks_count:
          type: integer
          example: 9
        stargazers_count:
          type: integer
          example: 80
        watchers_count:
          type: integer
          example: 80
        size:
          description: The size of the repository, in kilobytes. Size is calculated
            hourly. When a repository is initially created, the size is 0.
          type: integer
          example: 108
        default_branch:
          description: The default branch of the repository.
          type: string
          example: master
        open_issues_count:
          type: integer
          example: 0
        is_template:
          description: Whether this repository acts as a template that can be used
            to generate new repositories.
          default: false
          type: boolean
          example: true
        topics:
          type: array
          items:
            type: string
        has_issues:
          description: Whether issues are enabled.
          default: true
          type: boolean
          example: true
        has_projects:
          description: Whether projects are enabled.
          default: true
          type: boolean
          example: true
        has_wiki:
          description: Whether the wiki is enabled.
          default: true
          type: boolean
          example: true
        has_pages:
          type: boolean
        has_downloads:
          description: Whether downloads are enabled.
          default: true
          type: boolean
          example: true
          deprecated: true
        has_discussions:
          description: Whether discussions are enabled.
          default: false
          type: boolean
          example: true
        archived:
          description: Whether the repository is archived.
          default: false
          type: boolean
        disabled:
          type: boolean
          description: Returns whether or not this repository disabled.
        visibility:
          description: 'The repository visibility: public, private, or internal.'
          default: public
          type: string
        pushed_at:
          type: string
          format: date-time
          example: '2011-01-26T19:06:43Z'
          nullable: true
        created_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
          nullable: true
        updated_at:
          type: string
          format: date-time
          example: '2011-01-26T19:14:43Z'
          nullable: true
        allow_rebase_merge:
          description: Whether to allow rebase merges for pull requests.
          default: true
          type: boolean
          example: true
        temp_clone_token:
          type: string
        allow_squash_merge:
          description: Whether to allow squash merges for pull requests.
          default: true
          type: boolean
          example: true
        allow_auto_merge:
          description: Whether to allow Auto-merge to be used on pull requests.
          default: false
          type: boolean
          example: false
        delete_branch_on_merge:
          description: Whether to delete head branches when pull requests are merged
          default: false
          type: boolean
          example: false
        allow_update_branch:
          description: Whether or not a pull request head branch that is behind its
            base branch can always be updated even if it is not required to be up
            to date before merging.
          default: false
          type: boolean
          example: false
        use_squash_pr_title_as_default:
          type: boolean
          description: Whether a squash merge commit can use the pull request title
            as default. **This property is closing down. Please use `squash_merge_commit_title`
            instead.
          default: false
          deprecated: true
        squash_merge_commit_title:
          type: string
          enum:
          - PR_TITLE
          - COMMIT_OR_PR_TITLE
          description: 'The default value for a squash merge commit title:


            - `PR_TITLE` - default to the pull request''s title.

            - `COMMIT_OR_PR_TITLE` - default to the commit''s title (if only one commit)
            or the pull request''s title (when more than one commit).'
        squash_merge_commit_message:
          type: string
          enum:
          - PR_BODY
          - COMMIT_MESSAGES
          - BLANK
          description: 'The default value for a squash merge commit message:


            - `PR_BODY` - default to the pull request''s body.

            - `COMMIT_MESSAGES` - default to the branch''s commit messages.

            - `BLANK` - default to a blank commit message.'
        merge_commit_title:
          type: string
          enum:
          - PR_TITLE
          - MERGE_MESSAGE
          description: 'The default value for a merge commit title.


            - `PR_TITLE` - default to the pull request''s title.

            - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g.,
            Merge pull request #123 from branch-name).'
        merge_commit_message:
          type: string
          enum:
          - PR_BODY
          - PR_TITLE
          - BLANK
          description: 'The default value for a merge commit message.


            - `PR_TITLE` - default to the pull request''s title.

            - `PR_BODY` - default to the pull request''s body.

            - `BLANK` - default to a blank commit message.'
        allow_merge_commit:
          description: Whether to allow merge commits for pull requests.
          default: true
          type: boolean
          example: true
        allow_forking:
          description: Whether to allow forking this repo
          type: boolean
        web_commit_signoff_required:
          description: Whether to require contributors to sign off on web-based commits
          default: false
          type: boolean
        open_issues:
          type: integer
        watchers:
          type: integer
        master_branch:
          type: string
        starred_at:
          type: string
          example: '"2020-07-09T00:17:42Z"'
        anonymous_access_enabled:
          type: boolean
          description: Whether anonymous git access is enabled for this repository
        code_search_index_status:
          type: object
          description: The status of the code search index for this repository
          properties:
            lexical_search_ok:
              type: boolean
            lexical_commit_sha:
              type: string
      required:
      - archive_url
      - assignees_url
      - blobs_url
      - branches_url
      - collaborators_url
      - comments_url
      - commits_url
      - compare_url
      - contents_url
      - contributors_url
      - deployments_url
      - description
      - downloads_url
      - events_url
      - fork
      - forks_url
      - full_name
      - git_commits_url
      - git_refs_url
      - git_tags_url
      - hooks_url
      - html_url
      - id
      - node_id
      - issue_comment_url
      - issue_events_url
      - issues_url
      - keys_url
      - labels_url
      - languages_url
      - merges_url
      - milestones_url
      - name
      - notifications_url
      - owner
      - private
      - pulls_url
      - releases_url
      - stargazers_url
      - statuses_url
      - subscribers_url
      - subscription_url
      - tags_url
      - teams_url
      - trees_url
      - url
      - clone_url
      - default_branch
      - forks
      - forks_count
      - git_url
      - has_downloads
      - has_issues
      - has_projects
      - has_wiki
      - has_pages
      - homepage
      - language
      - archived
      - disabled
      - mirror_url
      - open_issues
      - open_issues_count
      - license
      - pushed_at
      - size
      - ssh_url
      - stargazers_count
      - svn_url
      - watchers
      - watchers_count
      - created_at
      - updated_at
    tag:
      title: Tag
      description: Tag
      type: object
      properties:
        name:
          type: string
          example: v0.1
        commit:
          type: object
          properties:
            sha:
              type: string
            url:
              type: string
              format: uri
          required:
          - sha
          - url
        zipball_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World/zipball/v0.1
        tarball_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World/tarball/v0.1
        node_id:
          type: string
      required:
      - name
      - node_id
      - commit
      - zipball_url
      - tarball_url
    file-commit:
      title: File Commit
      description: File Commit
      type: object
      required:
      - content
      - commit
      properties:
        content:
          type: object
          properties:
            name:
              type: string
            path:
              type: string
            sha:
              type: string
            size:
              type: integer
            url:
              type: string
            html_url:
              type: string
            git_url:
              type: string
            download_url:
              type: string
            type:
              type: string
            _links:
              type: object
              properties:
                self:
                  type: string
                git:
                  type: string
                html:
                  type: string
          nullable: true
        commit:
          type: object
          properties:
            sha:
              type: string
            node_id:
              type: string
            url:
              type: string
            html_url:
              type: string
            author:
              type: object
              properties:
                date:
                  type: string
                name:
                  type: string
                email:
                  type: string
            committer:
              type: object
              properties:
                date:
                  type: string
                name:
                  type: string
                email:
                  type: string
            message:
              type: string
            tree:
              type: object
              properties:
                url:
                  type: string
                sha:
                  type: string
            parents:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  html_url:
                    type: string
                  sha:
                    type: string
            verification:
              type: object
              properties:
                verified:
                  type: boolean
                reason:
                  type: string
                signature:
                  type: string
                  nullable: true
                payload:
                  type: string
                  nullable: true
                verified_at:
                  type: string
                  nullable: true
    scim-error:
      title: Scim Error
      description: Scim Error
      type: object
      properties:
        message:
          type: string
          nullable: true
        documentation_url:
          type: string
          nullable: true
        detail:
          type: string
          nullable: true
        status:
          type: integer
        scimType:
          type: string
          nullable: true
        schemas:
          type: array
          items:
            type: string
    basic-error:
      title: Basic Error
      description: Basic Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        url:
          type: string
        status:
          type: string
    content-file:
      title: Content File
      description: Content File
      type: object
      properties:
        type:
          type: string
          enum:
          - file
        encoding:
          type: string
        size:
          type: integer
        name:
          type: string
        path:
          type: string
        content:
          type: string
        sha:
          type: string
        url:
          type: string
          format: uri
        git_url:
          type: string
          format: uri
          nullable: true
        html_url:
          type: string
          format: uri
          nullable: true
        download_url:
          type: string
          format: uri
          nullable: true
        _links:
          type: object
[...]
